.flex-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	overflow: hidden;
}

.flex-header {
	background-color: rgb(41, 43, 42);
	margin-bottom: 2px;
	border-bottom: 8px solid;
	border-color: rgb(52, 54, 53);
}

.flex-fill {
	flex-grow: 1;
	border: none;
	margin: 0;
	padding: 0;
}

.flex-horizontal {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
}

html, body {
	height: 100%;
	width: 100%;
	background: url(/images/ultima_512.png) center center no-repeat;
	background-color: rgb(41, 43, 42);
	margin: 0;
	padding: 0;
}